[user]
    name = sash
    email = sash2104@gmail.com
[color]
    ui = true
[alias]
    co = checkout
    ci = commit -a
    ce = commit -v --amend
    st = status --short
    br = branch
    branches = branch -a
    remotes = remote -v
    tags = tag -l
    l = log --all --pretty='format:%C(yellow)%h %C(red) %ar %C(reset)%s%C(cyan)%d %C(reset)[%an]' --graph
    fp = fetch --prune
    dh = diff --histogram
    dw = diff --word-diff
    dc = diff --cached
    wc = whatchanged
[core]
    excludesfile = ~/.gitignore
    editor = vim
